<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"/>
</head>
<body>
<div class="ui button">
    Default
</div>

<div class="ui menu">
    <div class="item">
        Item A
    </div>
    <div class="item">
        Item B
    </div>
    <div class="item">
        Item C
    </div>
</div>
</body>
</html>